html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5rem 1fr 5rem;

    gap: 1rem;

    justify-items: center;
    align-items: center;

    width: 100%;
    height: 100%;
}