body {
  margin: 0;
}

.flex {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    padding: 1rem;
}
.flex .table {
    flex-grow: 1;
}

.flex .flex {
    margin-top: 2rem;
    height: 66vh;
    flex-grow: 1;
}

/* ZE Table */

.cell {
    position: relative;
}

.cell-edit-btn {
    position: absolute;
    right: 1rem;
}

.cell-edit-overlay {
    display: none;

    &.visible {
        display: flex;
    }

    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.row-actions {
    position: absolute;
    left: 0;
    /* top: 2em; */
    bottom: 0;
}

.lwdui-virtual-table-row {
    position: relative;
}

.lwdui-lazy-table .lwdui-virtual-table-row>div, .cell-edit-overlay {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
