html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-layout {
    display: grid;

    box-sizing: border-box;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5rem 1fr 2rem;

    gap: 1.5rem;
    padding: 1.5rem;

    justify-items: stretch;
    align-items: stretch;

    width: 100%;
    height: 100%;

    & .item-list,
    & .playlist {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    & .playlist div.row:has(div.playing) {
        filter: brightness(120%);
    }

    & .player-wrapper {
        display: flex;
        width: 100%;
    }


    & .player-wrapper audio {
        border-radius: 0.5rem;
    }
}