@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body {
    font-family: 'Bungee Spice', sans-serif;
    color: #ffc334;
    isolation: isolate;
}

.on {
    background-color: red;
}

/* Ham menu */
.hover-menu {
    /* Required for absolute positioning of child */
    /* position: relative; */
}


.hover-menu menu {
    visibility: collapse;
    position: absolute;
    translate: -50%;
    opacity: 0;
    transition: all 125ms;
}


.hover-menu:hover menu,
.hover-menu.active menu {
    visibility: visible;
    opacity: 1;
}

/* Draggable table */
/* todo: borders should be in theme */
.draggable-table {
    display: inline-grid;
}

.draggable-table>div {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
}

.draggable-table .hover-top {
    box-shadow: 0px 200px 15px -200px rgba(255, 200, 0, 1) inset;
}

.draggable-table .hover-bottom {
    box-shadow: 0px -200px 15px -200px rgba(255, 200, 0, 1) inset;
}


.lwdui-lazy-table-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.lwdui-lazy-table {
    display: inline-grid;
    align-content: start;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: rgb(207, 207, 207);
    position: relative;
    font-size: 1.2rem;
}

.lwdui-lazy-table div {
    box-sizing: border-box;
}

.lwdui-lazy-table>div {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    padding: 0.5rem;
    background-color: #3c4146;
    overflow: hidden;
}

.lwdui-lazy-table>.row_spacer {
    padding: 0;
}

.lwdui-lazy-table>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.lwdui-lazy-table>div:first-child {
    position: sticky;
    top: -1px;
    /* Without that slight offset there is some glitching happening in firefox */
    background-color: #3c4146;
    z-index: 10;
}

.lwdui-lazy-table>div:first-child>div {
    text-align: center;
}

.lwdui-lazy-table span {
    vertical-align: middle;
}

.lwdui-controlled-scroll-wrapper {
    position: relative;
    overflow: hidden;

    & .lwdui-controlled-scroll-controls {
        position: absolute;
        bottom: 0;
        right: 0;

        transition: opacity 0.3s, visibility 0.3s;
    }

    &.locked .lwdui-controlled-scroll-controls {
        visibility: hidden;
        opacity: 0;
    }
}
