body {
    background-color: #2c2f32;
}

.draggable-table {
    border-bottom: solid black 1px;
}

.draggable-table>div {
    user-select: none;
    cursor: grab;
    border-top: solid black 1px;
    border-left: solid black 1px;
    box-shadow: 0px 1px 0px 0px #000000
}

body.dragging .draggable-table>div {
    cursor: grabbing;

}

.draggable-table>div>div {
    padding: 4px;
    border-right: solid black 1px;
}

.lwdui-lazy-table, .lwdui-lazy-table>div {
    background-color: #3c4146;
}
